# All about Series Pandas
# Coded by Soumonos Mukherjee

- Read the file "fandango_score_comparison.csv" in a dataframe called fandango.
- Display the first 2 lines of fandango.

In [1]:
import pandas as pd
import os
os.chdir("C:\\Users\\User\\Downloads\\Soumonos & Kavesh")

In [2]:
#displaying first 2 rows
fandango= pd.read_csv("fandango_score_comparison.csv")
fandango.head(2)

,FILM,RottenTomatoes,RottenTomatoes_User,Metacritic,Metacritic_User,IMDB,Fandango_Stars,Fandango_Ratingvalue,RT_norm,RT_user_norm,...,IMDB_norm,RT_norm_round,RT_user_norm_round,Metacritic_norm_round,Metacritic_user_norm_round,IMDB_norm_round,Metacritic_user_vote_count,IMDB_user_vote_count,Fandango_votes,Fandango_Difference
0,Avengers: Age of Ultron (2015),74,86,66,7.1,7.8,5.0,4.5,3.70,4.3,...,3.90,3.5,4.5,3.5,3.5,4.0,1330,271107,14846,0.5
1,Cinderella (2015),85,80,67,7.5,7.1,5.0,4.5,4.25,4.0,...,3.55,4.5,4.0,3.5,4.0,3.5,249,65709,12640,0.5

## Indexing with integers

- Select the column "FILM" and assign it to the variable series_film and display the first 5 values.
- Do the same with the column "RottenTomatoes" and assign it to the variable series_rt then display the first 5 values.

In [8]:
# Making 2 series one with the FILM and one with the RottenTomatoes and visualizing first 5 values.
series_film= fandango['FILM']
series_rt= fandango['RottenTomatoes']
series_film.head()

0    Avengers: Age of Ultron (2015)
1                 Cinderella (2015)
2                    Ant-Man (2015)
3            Do You Believe? (2015)
4     Hot Tub Time Machine 2 (2015)
Name: FILM, dtype: object

In [10]:
series_rt.head()

0    74
1    85
2    80
3    18
4    14
Name: RottenTomatoes, dtype: int64

In [22]:

df_q= series_rt.to_frame()
df_q.columns

Index(['RottenTomatoes'], dtype='object')

## Customize your indexing

- Create a Series object named series_custom that will have a string index (based on the movie names we assign to the variable film_names) and will contain all the RottenTomatoes notes of series_rt that we assign to the variable rt_scores.
>- Be careful to use lists of values for our 2 parameters of the Series() method.
>- Don't forget to import the Series object from pandas

In [26]:
#Building a series called series_custom with the film names as index and rottentomatoes scores as values 
series_custom= pd.Series(list(series_rt), index= series_film)
series_custom

FILM
Avengers: Age of Ultron (2015)                     74
Cinderella (2015)                                  85
Ant-Man (2015)                                     80
Do You Believe? (2015)                             18
Hot Tub Time Machine 2 (2015)                      14
The Water Diviner (2015)                           63
Irrational Man (2015)                              42
Top Five (2014)                                    86
Shaun the Sheep Movie (2015)                       99
Love & Mercy (2015)                                89
Far From The Madding Crowd (2015)                  84
Black Sea (2015)                                   82
Leviathan (2014)                                   99
Unbroken (2014)                                    51
The Imitation Game (2014)                          90
Taken 3 (2015)                                      9
Ted 2 (2015)                                       46
Southpaw (2015)                                    59
Night at the Museum: Secret of the Tomb (2014)     50
Pixels (2015)                                      17
McFarland, USA (2015)                              79
Insidious: Chapter 3 (2015)                        59
The Man From U.N.C.L.E. (2015)                     68
Run All Night (2015)                               60
Trainwreck (2015)                                  85
Selma (2014)                                       99
Ex Machina (2015)                                  92
Still Alice (2015)                                 88
Wild Tales (2014)                                  96
The End of the Tour (2015)                         92
                                                 ...
Clouds of Sils Maria (2015)                        89
Testament of Youth (2015)                          81
Infinitely Polar Bear (2015)                       80
Phoenix (2015)                                     99
The Wolfpack (2015)                                84
The Stanford Prison Experiment (2015)              84
Tangerine (2015)                                   95
Magic Mike XXL (2015)                              62
Home (2015)                                        45
The Wedding Ringer (2015)                          27
Woman in Gold (2015)                               52
The Last Five Years (2015)                         60
Mission: Impossible â€“ Rogue Nation (2015)        92
Amy (2015)                                         97
Jurassic World (2015)                              71
Minions (2015)                                     54
Max (2015)                                         35
Paul Blart: Mall Cop 2 (2015)                       5
The Longest Ride (2015)                            31
The Lazarus Effect (2015)                          14
The Woman In Black 2 Angel of Death (2015)         22
Danny Collins (2015)                               77
Spare Parts (2015)                                 52
Serena (2015)                                      18
Inside Out (2015)                                  98
Mr. Holmes (2015)                                  87
'71 (2015)                                         97
Two Days, One Night (2014)                         97
Gett: The Trial of Viviane Amsalem (2015)         100
Kumiko, The Treasure Hunter (2015)                 87
Length: 146, dtype: int64

## Re-index a Series object

- Create the original_index list containing the current index from the index attribute.
- Sort this index using the sorted() method and assign the result to the sorted_index variable.
- Then apply the reindex() method to our Series custom_series to reindex according to the sorted_index index.
- Store the result in the sorted_by_index variable.
- Display the result.

In [34]:
#Making original_index list with the previous indexes.
original_index= list(series_custom.index)
#Sorting the index list
sorted_index= sorted(original_index)
#Reindexing series_custom with the sorted index list
sorted_by_index= series_custom.reindex(sorted_index)

In [35]:
sorted_by_index.head()

FILM
'71 (2015)                    97
5 Flights Up (2015)           52
A Little Chaos (2015)         40
A Most Violent Year (2014)    90
About Elly (2015)             97
dtype: int64

## Sort a Series object

- Sort the Series series series_custom by index using the sort_index() method and assign the result to the sc2 variable.
- Sort the Series series series_custom by values and assign the result to the sc3 variable.
- Display the first 10 values of sc2 and sc3.

In [38]:
#Sorting the series_custom by index directly by inbuilt function
sc2= series_custom.sort_index(inplace=False)
#Sorting the series_custom by values by inbuilt function
sc3= series_custom.sort_values(inplace=False)

In [39]:
#Visualizing sc2
sc2.head(10)

FILM
'71 (2015)                    97
5 Flights Up (2015)           52
A Little Chaos (2015)         40
A Most Violent Year (2014)    90
About Elly (2015)             97
Aloha (2015)                  19
American Sniper (2015)        72
American Ultra (2015)         46
Amy (2015)                    97
Annie (2014)                  27
dtype: int64

In [40]:
#visualizing sc3
sc3.head(10)

FILM
Paul Blart: Mall Cop 2 (2015)     5
Hitman: Agent 47 (2015)           7
Hot Pursuit (2015)                8
Fantastic Four (2015)             9
Taken 3 (2015)                    9
The Boy Next Door (2015)         10
The Loft (2015)                  11
Unfinished Business (2015)       11
Mortdecai (2015)                 12
Seventh Son (2015)               12
dtype: int64

## Column transformation

- Normalize the Series series_custom (score scale from 0 to 100) to obtain a score scale from 0 to 5 by dividing the object by 20.
- Assign the new Series object to the series_normalized variable.
- Display the result.

In [44]:
#normalizing the series_custom values by apply() and with a function to divide each item by 20
series_normalized= series_custom.apply(lambda x: x/20)
series_normalized.head()

FILM
Avengers: Age of Ultron (2015)    3.70
Cinderella (2015)                 4.25
Ant-Man (2015)                    4.00
Do You Believe? (2015)            0.90
Hot Tub Time Machine 2 (2015)     0.70
dtype: float64

## Compare and filter

- Assign to the criteria_one variable the criterion for customer_series values greater than 50.
- Assign the criteria_two variable the criterion for customer_series values less than 75.
- Return a new filtered Series object named both_criteria which contains only the values for which both criteria are true.
- Display this last result.

In [53]:
#customizing and filtering column values as per instructions given
criteria_one = series_custom.loc[series_custom.values > 50]
criteria_two = series_custom.loc[series_custom.values < 75]
both_criteria= series_custom.loc[(series_custom.values > 50) & (series_custom.values < 75) ]

In [54]:
criteria_one

FILM
Avengers: Age of Ultron (2015)                                             74
Cinderella (2015)                                                          85
Ant-Man (2015)                                                             80
The Water Diviner (2015)                                                   63
Top Five (2014)                                                            86
Shaun the Sheep Movie (2015)                                               99
Love & Mercy (2015)                                                        89
Far From The Madding Crowd (2015)                                          84
Black Sea (2015)                                                           82
Leviathan (2014)                                                           99
Unbroken (2014)                                                            51
The Imitation Game (2014)                                                  90
Southpaw (2015)                                                            59
McFarland, USA (2015)                                                      79
Insidious: Chapter 3 (2015)                                                59
The Man From U.N.C.L.E. (2015)                                             68
Run All Night (2015)                                                       60
Trainwreck (2015)                                                          85
Selma (2014)                                                               99
Ex Machina (2015)                                                          92
Still Alice (2015)                                                         88
Wild Tales (2014)                                                          96
The End of the Tour (2015)                                                 92
Red Army (2015)                                                            96
When Marnie Was There (2015)                                               89
The Hunting Ground (2015)                                                  92
5 Flights Up (2015)                                                        52
Welcome to Me (2015)                                                       71
Saint Laurent (2015)                                                       51
Maps to the Stars (2015)                                                   60
                                                                         ...
The Second Best Exotic Marigold Hotel (2015)                               62
The 100-Year-Old Man Who Climbed Out the Window and Disappeared (2015)     67
Escobar: Paradise Lost (2015)                                              52
Into the Woods (2014)                                                      71
It Follows (2015)                                                          96
Inherent Vice (2014)                                                       73
A Most Violent Year (2014)                                                 90
While We're Young (2015)                                                   83
Clouds of Sils Maria (2015)                                                89
Testament of Youth (2015)                                                  81
Infinitely Polar Bear (2015)                                               80
Phoenix (2015)                                                             99
The Wolfpack (2015)                                                        84
The Stanford Prison Experiment (2015)                                      84
Tangerine (2015)                                                           95
Magic Mike XXL (2015)                                                      62
Woman in Gold (2015)                                                       52
The Last Five Years (2015)                                                 60
Mission: Impossible â€“ Rogue Nation (2015)                                92
Amy (2015)                                                                 97
Jurassic World (2015)                                                      71
Minions (2015)                                                             54
Danny Collins (2015)                                                       77
Spare Parts (2015)                                                         52
Inside Out (2015)                                                          98
Mr. Holmes (2015)                                                          87
'71 (2015)                                                                 97
Two Days, One Night (2014)                                                 97
Gett: The Trial of Viviane Amsalem (2015)                                 100
Kumiko, The Treasure Hunter (2015)                                         87
Length: 94, dtype: int64

In [55]:
criteria_two

FILM
Avengers: Age of Ultron (2015)                                            74
Do You Believe? (2015)                                                    18
Hot Tub Time Machine 2 (2015)                                             14
The Water Diviner (2015)                                                  63
Irrational Man (2015)                                                     42
Unbroken (2014)                                                           51
Taken 3 (2015)                                                             9
Ted 2 (2015)                                                              46
Southpaw (2015)                                                           59
Night at the Museum: Secret of the Tomb (2014)                            50
Pixels (2015)                                                             17
Insidious: Chapter 3 (2015)                                               59
The Man From U.N.C.L.E. (2015)                                            68
Run All Night (2015)                                                      60
The Boy Next Door (2015)                                                  10
Aloha (2015)                                                              19
The Loft (2015)                                                           11
5 Flights Up (2015)                                                       52
Welcome to Me (2015)                                                      71
Saint Laurent (2015)                                                      51
Maps to the Stars (2015)                                                  60
Tomorrowland (2015)                                                       50
The Divergent Series: Insurgent (2015)                                    30
Annie (2014)                                                              27
Fantastic Four (2015)                                                      9
Terminator Genisys (2015)                                                 26
Pitch Perfect 2 (2015)                                                    67
Entourage (2015)                                                          32
The Age of Adaline (2015)                                                 54
Hot Pursuit (2015)                                                         8
                                                                          ..
Fifty Shades of Grey (2015)                                               25
Get Hard (2015)                                                           29
Focus (2015)                                                              57
Jupiter Ascending (2015)                                                  26
The Gallows (2015)                                                        16
The Second Best Exotic Marigold Hotel (2015)                              62
Strange Magic (2015)                                                      17
The Gunman (2015)                                                         17
Hitman: Agent 47 (2015)                                                    7
Cake (2015)                                                               49
The Vatican Tapes (2015)                                                  13
A Little Chaos (2015)                                                     40
The 100-Year-Old Man Who Climbed Out the Window and Disappeared (2015)    67
Escobar: Paradise Lost (2015)                                             52
Into the Woods (2014)                                                     71
Inherent Vice (2014)                                                      73
Magic Mike XXL (2015)                                                     62
Home (2015)                                                               45
The Wedding Ringer (2015)                                                 27
Woman in Gold (2015)                                                      52
The Last Five Years (2015)                                                60
Jurassic World (2015)                                                     71
Minions (2015)                                                            54
Max (2015)                                                                35
Paul Blart: Mall Cop 2 (2015)                                              5
The Longest Ride (2015)                                                   31
The Lazarus Effect (2015)                                                 14
The Woman In Black 2 Angel of Death (2015)                                22
Spare Parts (2015)                                                        52
Serena (2015)                                                             18
Length: 85, dtype: int64

In [56]:
both_criteria

FILM
Avengers: Age of Ultron (2015)                                            74
The Water Diviner (2015)                                                  63
Unbroken (2014)                                                           51
Southpaw (2015)                                                           59
Insidious: Chapter 3 (2015)                                               59
The Man From U.N.C.L.E. (2015)                                            68
Run All Night (2015)                                                      60
5 Flights Up (2015)                                                       52
Welcome to Me (2015)                                                      71
Saint Laurent (2015)                                                      51
Maps to the Stars (2015)                                                  60
Pitch Perfect 2 (2015)                                                    67
The Age of Adaline (2015)                                                 54
The DUFF (2015)                                                           71
Ricki and the Flash (2015)                                                64
Unfriended (2015)                                                         60
American Sniper (2015)                                                    72
The Hobbit: The Battle of the Five Armies (2014)                          61
Paper Towns (2015)                                                        55
Big Eyes (2014)                                                           72
Maggie (2015)                                                             54
Focus (2015)                                                              57
The Second Best Exotic Marigold Hotel (2015)                              62
The 100-Year-Old Man Who Climbed Out the Window and Disappeared (2015)    67
Escobar: Paradise Lost (2015)                                             52
Into the Woods (2014)                                                     71
Inherent Vice (2014)                                                      73
Magic Mike XXL (2015)                                                     62
Woman in Gold (2015)                                                      52
The Last Five Years (2015)                                                60
Jurassic World (2015)                                                     71
Minions (2015)                                                            54
Spare Parts (2015)                                                        52
dtype: int64

## Data alignment

- Create the Series rt_critics that indexes the values of the RottenTomatoes column notes (review notes) with the name of the movies as index (FILM column).
- Create the Series rt_users which indexes the values of the RottenTomatoes_User column notes (user notes) with the name of the movies as index (FILM column).
- rt_critics and rt_users are thus 2 Series objects containing the average of the critics' and users' scores for each movie.
- Since each Series uses the same index (corresponding to the movie names), use mathematical operations to return the average of the critics' and users' scores for each movie.
- Assign the resulting Series to the variable rt_mean.
- Display the result.

In [72]:
#making a series with the rotten tomatoes reviews (critic reviews) and index- film names
rt_critics = pd.Series(data= list(fandango['RottenTomatoes']),index= fandango['FILM'] )
#making a series with the user reviews and index- film names
rt_users= pd.Series(data= list(fandango['RottenTomatoes_User']),index= fandango['FILM'] )

In [73]:
# For ease of visualizing the data, I created this dataframe
df_qn = pd.concat([rt_critics,rt_users],axis=1)
df_qn.columns= ['critic_ratings','users_ratings']

df_qn.head()

                                critic_ratings  users_ratings
FILM
Avengers: Age of Ultron (2015)              74             86
Cinderella (2015)                           85             80
Ant-Man (2015)                              80             90
Do You Believe? (2015)                      18             84
Hot Tub Time Machine 2 (2015)               14             28

In [71]:
#Taking the average of critic and user rating making it a series
rt_mean= (df_qn['critic_ratings']+ df_qn['users_ratings'])/2
rt_mean

FILM
Avengers: Age of Ultron (2015)                    80.0
Cinderella (2015)                                 82.5
Ant-Man (2015)                                    85.0
Do You Believe? (2015)                            51.0
Hot Tub Time Machine 2 (2015)                     21.0
The Water Diviner (2015)                          62.5
Irrational Man (2015)                             47.5
Top Five (2014)                                   75.0
Shaun the Sheep Movie (2015)                      90.5
Love & Mercy (2015)                               88.0
Far From The Madding Crowd (2015)                 80.5
Black Sea (2015)                                  71.0
Leviathan (2014)                                  89.0
Unbroken (2014)                                   60.5
The Imitation Game (2014)                         91.0
Taken 3 (2015)                                    27.5
Ted 2 (2015)                                      52.0
Southpaw (2015)                                   69.5
Night at the Museum: Secret of the Tomb (2014)    54.0
Pixels (2015)                                     35.5
McFarland, USA (2015)                             84.0
Insidious: Chapter 3 (2015)                       57.5
The Man From U.N.C.L.E. (2015)                    74.0
Run All Night (2015)                              59.5
Trainwreck (2015)                                 79.5
Selma (2014)                                      92.5
Ex Machina (2015)                                 89.0
Still Alice (2015)                                86.5
Wild Tales (2014)                                 94.0
The End of the Tour (2015)                        90.5
                                                  ...
Clouds of Sils Maria (2015)                       78.0
Testament of Youth (2015)                         80.0
Infinitely Polar Bear (2015)                      78.0
Phoenix (2015)                                    90.0
The Wolfpack (2015)                               78.5
The Stanford Prison Experiment (2015)             85.5
Tangerine (2015)                                  90.5
Magic Mike XXL (2015)                             63.0
Home (2015)                                       55.0
The Wedding Ringer (2015)                         46.5
Woman in Gold (2015)                              66.5
The Last Five Years (2015)                        60.0
Mission: Impossible â€“ Rogue Nation (2015)       91.0
Amy (2015)                                        94.0
Jurassic World (2015)                             76.0
Minions (2015)                                    53.0
Max (2015)                                        54.0
Paul Blart: Mall Cop 2 (2015)                     20.5
The Longest Ride (2015)                           52.0
The Lazarus Effect (2015)                         18.5
The Woman In Black 2 Angel of Death (2015)        23.5
Danny Collins (2015)                              76.0
Spare Parts (2015)                                67.5
Serena (2015)                                     21.5
Inside Out (2015)                                 94.0
Mr. Holmes (2015)                                 82.5
'71 (2015)                                        89.5
Two Days, One Night (2014)                        87.5
Gett: The Trial of Viviane Amsalem (2015)         90.5
Kumiko, The Treasure Hunter (2015)                75.0
Length: 146, dtype: float64