# Guided project: Thanksgiving data analysis.

## Introduction to the dataset

- Import the pandas library.
- Use the pandas.read_csv() function to read the thanksgiving.csv file.
>- Specify in the function parameters the argument encoding='latin-1' because this dataset is not encoded normally.
>- Assign the dataframe to the variable data
- Display the first lines of data.
- Display the column names with the columns attribute.

## Filtering data

- Use the Series.value_counts() method to display the response count for each category in the 'Do you celebrate Thanksgiving?' column.
- Filter and save all rows of the dataframe data for which the answer to the 'Do you celebrate Thanksgiving?' question is 'Yes'.
- Assign this new dataframe to data and display it.

## Exploring thanksgiving dinners

- Use the Series.value_counts() method to display how many times each result appears for the 'What is typically the main dish at your Thanksgiving dinner?' question and column.
- Display the 'Do you typically have gravy? column for rows in the dataframe data for which the 'What is typically the main dish at your Thanksgiving dinner? column is set to 'Tofurkey' for tofu turkey.
>- Create a filter that selects only those rows in the dataframe data where 'What is typically the main dish at your Thanksgiving dinner?' is set to 'Tofurkey'.
>- Assign the result to the variable tofurkey
>- Display the 'Do you typically have gravy?' column of this new tofurkey dataframe.

## Dessert trends for Thanksgiving ##

- Create a Series object indicating with booleans the values of the column 'Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Apple' which are null. Assign the result to the variable apple_isnull.
- Create a Series object that uses booleans to indicate the values in the column 'Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Pumpkin' which are null. Assign the result to the pumpkin_isnull variable.
- Create a Series object with booleans indicating the values in the column 'Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Pecan' which are null. Assign the result to the variable pecan_isnull.
- Combine these 3 Series objects with the & operator and assign the result to the pies variable.
- Display the unique values and how many times they appear in the pies column.

## Convert age to a numerical value ##

- Write a function that converts a string into an integer value. This will convert the values in the 'Age' column to integers. This function will take as parameter a string of characters (the current values of the column 'Age').
>- Use the isnull() function to check if the values are null. Add an if condition that returns 'None' if the value is null.
>- Separate strings by space (' ') and extract the first element from the resulting list (split() method)
>- Replace the '+' character in the result with an empty string to remove it (replace() method).
>- use int() to convert the result to an integer
>- Return the result
- Use the Series.apply() method to apply the function to each value in the 'Age' column of the dataframe data.
>- Assign the result to the new int_age column of the dataframe data.
- Call the Series.describe() method on the 'int_age' column of the dataframe data and display the result.

## Convert income to numerical values

- Write a function to convert income to a single integer format value.
>- Use the isnull() function to check if the value is null. If it is, return 'None'.
>- Separate the string using space as delimiter and extract the first element from the resulting list.
>- If the result is 'Prefer', return 'none'.
>- Replace the characters '$' and ',' with empty strings to delete them.
>- Use int() to convert the result to an integer
>- Return the result
- Use the Series.apply() method to apply the above function to each value in the 'How much total combined money did all members of your HOUSEHOLD earn last year?' column of the dataframe data.
>- Assign the result to the new column 'int_income' in the dataframe data.
- Call the Series.describe() method to the int_income column of the dataframe data and display the result.

## Correlation between distance and income

- Watch how people earning less than 150,000 dollars travel.
>- Filter data by selecting only 'int_income' values below $150,000.
>- Select the column 'How far will you travel for Thanksgiving? taking into account the filter
>- Use the value_counts() method to count how many times each value appears in the column.
>- Display the results
- Do the same with people earning more than 150,000 dollars.

## Link between spending Thanksgiving with friends with age and income ##

- Generate a pivot table showing the average age of respondents for each category of the questions 'Have you ever tried to meet up with hometown friends on Thanksgiving night? and 'Have you ever attended a "Friendsgiving?"'.
>- Call the pivot_table() method on the dataframe data
>- Set the 'index' parameter to 'Have you ever tried to meet up with hometown friends on Thanksgiving night?'.
>- Set the 'columns' parameter to 'Have you ever attended a "Friendsgiving?"'.
>- Set the 'values' parameter to 'int_age'.
>- Display the results
- Do the same for revenues with these two questions.